.mylearningprocess-view .mylearningprocess-buttonSet {
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.mylearningprocess-view vaadin-grid {
  line-height: var(--lumo-line-height-m);
}

.mylearningprocess-view vaadin-grid,
.mylearningprocess-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.mylearningprocess-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.mylearningprocess-view img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: var(--lumo-size-m);
}

.mylearningprocess-view .header-card {
  align-items: baseline;
}

.mylearningprocess-view .name {
  font-size: var(--lumo-font-size-s);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}

.mylearningprocess-view .date {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
}

.mylearningprocess-view .post {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  margin-bottom: var(--lumo-space-s);
  white-space: normal;
}

.mylearningprocess-view .actions {
  align-items: center;
}

.mylearningprocess-view iron-icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  margin-right: var(--lumo-space-s);
  width: calc(var(--lumo-icon-size-s) * 0.8);
}

.mylearningprocess-view .likes,
.mylearningprocess-view .comments,
.mylearningprocess-view-view .shares {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
  margin-right: var(--lumo-space-l);
}


.mylearningprocess-view .content {
    display: flex; /*  */
}

.mylearningprocess-view .grid-cards {
    flex: 2; /*  */
}

.mylearningprocess-view .learning-process-form {
    flex: 1;
    padding: var(--lumo-space-m); /*  */
}

@media all and (max-width: 1100px) { /*  */
    .mylearningprocess-view.editing .toolbar,
    .mylearningprocess-view.editing .grid-cards {
        display: none;
   }
}